<a href="https://colab.research.google.com/github/vanesamp07/Python/blob/main/LibreriaPandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install numpy #instalamos la libreria numpy

Requirement already satisfied: numpy in c:\users\usuario\.ms-ad\lib\site-packages (1.26.4)

In [ ]:
import numpy as np #importamos la libreria numpy con el alias np

In [ ]:
!pip install pandas  #instalamos la liberia pandas

Requirement already satisfied: pandas in c:\users\usuario\.ms-ad\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\usuario\.ms-ad\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\usuario\.ms-ad\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\.ms-ad\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\usuario\.ms-ad\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\usuario\.ms-ad\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd #importamos la libreria pandas con el alias pd

In [ ]:
df_resumen_resultados_astronautas = pd.read_csv('resumen_resultados_astronautas.csv', encoding='utf-8') #importamos el archivo y creamos el dataframe

In [ ]:
df_resumen_resultados_astronautas #mostramos los datos del dataframe

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
0,Alana Morillo,32,75,180,93,88,78,89,6,Si
1,Fátima Tafalla,27,68,167,82,95,81,87,4,Si
2,Sofía Puig,29,80,185,85,80,90,91,3,Si
3,Valentina Tasis,30,65,175,90,91,85,92,2,No
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si
5,Amaya de la Cruz,26,64,170,80,94,79,86,4,No
6,María Juderías,28,78,182,88,85,87,92,5,Si
7,Perla Alcocer,30,71,168,86,92,82,88,3,No
8,Consuela Arboleda,33,77,188,94,83,89,93,8,Si
9,María José Franco,29,70,175,87,90,80,89,2,No
10,Emanuel Gálvez,27,73,181,84,89,84,87,3,Si
11,Alberto Graciani,28,62,163,81,93,77,85,5,No
12,Patricio Encarnación,30,81,190,93,86,88,91,4,Si
13,Cristóbal Miralles,31,72,174,88,91,86,92,6,No
14,Pablo Cotilla,27,75,178,86,87,85,89,2,Si
15,Pablo Capmany,29,69,171,82,94,80,88,4,No
16,Nicolás Cambeiro,29,68,175,88,90,81,90,2,No
17,Daniel Sánchez,26,63,167,80,93,78,85,4,No
18,Samuel Gálvez,22,74,183,91,91,91,86,3,Si
19,José París,40,68,163,78,85,85,77,8,No
20,Kevin Pareja,27,61,177,85,90,87,79,2,Si
21,Estefania Manzanares,31,79,179,89,82,85,81,5,Si
22,Óliver Fonseca,38,80,164,77,88,90,89,9,No
23,Christopher Berganza,23,70,173,92,93,92,85,1,Si
24,Álvaro Espina,30,76,180,90,84,87,82,4,Si
25,Leonardo Magrina,39,65,171,79,92,90,85,8,No
26,Fernando Gálvez,25,72,168,88,88,89,83,2,Si
27,Sophie González,36,75,176,85,82,84,80,7,No
28,Alexia Gaos,21,69,169,93,94,93,86,0,Si
29,Fátima Varela,33,73,182,91,90,91,88,5,Si
30,Clara Arias,44,63,162,77,87,88,84,11,No
31,Paloma Berganza,28,62,174,87,85,87,78,3,Si

In [ ]:
df_resumen_resultados_astronautas.head() #mostramos las primeras 5 filas del dataframe

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
0,Alana Morillo,32,75,180,93,88,78,89,6,Si
1,Fátima Tafalla,27,68,167,82,95,81,87,4,Si
2,Sofía Puig,29,80,185,85,80,90,91,3,Si
3,Valentina Tasis,30,65,175,90,91,85,92,2,No
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si

In [ ]:
df_resumen_resultados_astronautas["altura_m"] = df_resumen_resultados_astronautas["altura"] / 100 #realizamos conversión de altura de centimetros a metros

In [ ]:
df_resumen_resultados_astronautas["IMC"] = df_resumen_resultados_astronautas["peso"] / df_resumen_resultados_astronautas["altura_m"] ** 2 #creamos otra nueva columna llamada IMC y almacenamos la formula

In [ ]:
df_resumen_resultados_astronautas #mostramos el dataframe con las nuevas columnas para validar resultados

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica,altura_m,IMC,promedio_evaluaciones,IMC_adecuado
0,Alana Morillo,32,75,180,93,88,78,89,6,Si,1.80,23.148148,87.00,True
1,Fátima Tafalla,27,68,167,82,95,81,87,4,Si,1.67,24.382373,86.25,True
2,Sofía Puig,29,80,185,85,80,90,91,3,Si,1.85,23.374726,86.50,True
3,Valentina Tasis,30,65,175,90,91,85,92,2,No,1.75,21.224490,89.50,True
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si,1.83,22.694019,87.25,True
5,Amaya de la Cruz,26,64,170,80,94,79,86,4,No,1.70,22.145329,84.75,True
6,María Juderías,28,78,182,88,85,87,92,5,Si,1.82,23.547881,88.00,True
7,Perla Alcocer,30,71,168,86,92,82,88,3,No,1.68,25.155896,87.00,False
8,Consuela Arboleda,33,77,188,94,83,89,93,8,Si,1.88,21.785876,89.75,True
9,María José Franco,29,70,175,87,90,80,89,2,No,1.75,22.857143,86.50,True
10,Emanuel Gálvez,27,73,181,84,89,84,87,3,Si,1.81,22.282592,86.00,True
11,Alberto Graciani,28,62,163,81,93,77,85,5,No,1.63,23.335466,84.00,True
12,Patricio Encarnación,30,81,190,93,86,88,91,4,Si,1.90,22.437673,89.50,True
13,Cristóbal Miralles,31,72,174,88,91,86,92,6,No,1.74,23.781213,89.25,True
14,Pablo Cotilla,27,75,178,86,87,85,89,2,Si,1.78,23.671254,86.75,True
15,Pablo Capmany,29,69,171,82,94,80,88,4,No,1.71,23.597004,86.00,True
16,Nicolás Cambeiro,29,68,175,88,90,81,90,2,No,1.75,22.204082,87.25,True
17,Daniel Sánchez,26,63,167,80,93,78,85,4,No,1.67,22.589551,84.00,True
18,Samuel Gálvez,22,74,183,91,91,91,86,3,Si,1.83,22.096808,89.75,True
19,José París,40,68,163,78,85,85,77,8,No,1.63,25.593737,81.25,False
20,Kevin Pareja,27,61,177,85,90,87,79,2,Si,1.77,19.470778,85.25,True
21,Estefania Manzanares,31,79,179,89,82,85,81,5,Si,1.79,24.655910,84.25,True
22,Óliver Fonseca,38,80,164,77,88,90,89,9,No,1.64,29.744200,86.00,False
23,Christopher Berganza,23,70,173,92,93,92,85,1,Si,1.73,23.388687,90.50,True
24,Álvaro Espina,30,76,180,90,84,87,82,4,Si,1.80,23.456790,85.75,True
25,Leonardo Magrina,39,65,171,79,92,90,85,8,No,1.71,22.229062,86.50,True
26,Fernando Gálvez,25,72,168,88,88,89,83,2,Si,1.68,25.510204,87.00,False
27,Sophie González,36,75,176,85,82,84,80,7,No,1.76,24.212293,82.75,True
28,Alexia Gaos,21,69,169,93,94,93,86,0,Si,1.69,24.158818,91.50,True
29,Fátima Varela,33,73,182,91,90,91,88,5,Si,1.82,22.038401,90.00,True
30,Clara Arias,44,63,162,77,87,88,84,11,No,1.62,24.005487,84.00,True
31,Paloma Berganza,28,62,174,87,85,87,78,3,Si,1.74,20.478267,84.25,True

In [ ]:
df_resumen_resultados_astronautas['promedio_evaluaciones'] = df_resumen_resultados_astronautas[[
    'evaluacion_fisica',
    'evaluacion_psicologica',
    'evaluacion_adaptativa',
    'evaluacion_medica'
]].mean(axis=1) #calculamos el promedio de las 4 evaluaciones por astronauta

In [ ]:
df_resumen_resultados_astronautas.head() #mostramos el dataframe nuevamente para validar resultados de la nueva columna

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica,altura_m,IMC,promedio_evaluaciones,IMC_adecuado
0,Alana Morillo,32,75,180,93,88,78,89,6,Si,1.80,23.148148,87.00,True
1,Fátima Tafalla,27,68,167,82,95,81,87,4,Si,1.67,24.382373,86.25,True
2,Sofía Puig,29,80,185,85,80,90,91,3,Si,1.85,23.374726,86.50,True
3,Valentina Tasis,30,65,175,90,91,85,92,2,No,1.75,21.224490,89.50,True
4,Regina Cicerón,31,76,183,89,87,83,90,7,Si,1.83,22.694019,87.25,True

In [ ]:
df_IMC_adecuado = df_resumen_resultados_astronautas[(df_resumen_resultados_astronautas["IMC"] >= 18.5) &
                                                    (df_resumen_resultados_astronautas["IMC"] <= 24.9)] #aplicamos filtro de IMC entre los limites adecuados

In [ ]:
df_IMC_adecuado = df_resumen_resultados_astronautas[df_resumen_resultados_astronautas['IMC_adecuado']] #guardamos IMC adecuado en la variable del dataframe

In [ ]:
print(df_IMC_adecuado[["nombre", "IMC"]]) #imprimimos nombres de candidatos que tienen IMC adecuado de acuerdo a rangos establecidos

                  nombre        IMC
0          Alana Morillo  23.148148
1         Fátima Tafalla  24.382373
2             Sofía Puig  23.374726
3        Valentina Tasis  21.224490
4         Regina Cicerón  22.694019
5       Amaya de la Cruz  22.145329
6         María Juderías  23.547881
8      Consuela Arboleda  21.785876
9      María José Franco  22.857143
10        Emanuel Gálvez  22.282592
11      Alberto Graciani  23.335466
12  Patricio Encarnación  22.437673
13    Cristóbal Miralles  23.781213
14         Pablo Cotilla  23.671254
15         Pablo Capmany  23.597004
16      Nicolás Cambeiro  22.204082
17        Daniel Sánchez  22.589551
18         Samuel Gálvez  22.096808
20          Kevin Pareja  19.470778
21  Estefania Manzanares  24.655910
23  Christopher Berganza  23.388687
24         Álvaro Espina  23.456790
25      Leonardo Magrina  22.229062
27       Sophie González  24.212293
28           Alexia Gaos  24.158818
29         Fátima Varela  22.038401
30           Clara Arias  24.005487
31       Paloma Berganza  20.478267

In [ ]:
df_filtrado = df_resumen_resultados_astronautas[
    (df_resumen_resultados_astronautas["IMC"] >= 18.5) &
    (df_resumen_resultados_astronautas["IMC"] <= 24.9) &
    (df_resumen_resultados_astronautas['promedio_evaluaciones'] >= 87)
] #agregamos una nueva condicion de filtrado (promedio de evaluaciones debe ser mayor o igual a 87)

In [ ]:
print(df_filtrado[['nombre', 'IMC', 'promedio_evaluaciones']]) #imprimimos las columnas nombre, IMC y promedio_evaluaciones para revisar que se cumplan las condiciones establecidas

                  nombre        IMC  promedio_evaluaciones
0          Alana Morillo  23.148148                  87.00
3        Valentina Tasis  21.224490                  89.50
4         Regina Cicerón  22.694019                  87.25
6         María Juderías  23.547881                  88.00
8      Consuela Arboleda  21.785876                  89.75
12  Patricio Encarnación  22.437673                  89.50
13    Cristóbal Miralles  23.781213                  89.25
16      Nicolás Cambeiro  22.204082                  87.25
18         Samuel Gálvez  22.096808                  89.75
23  Christopher Berganza  23.388687                  90.50
28           Alexia Gaos  24.158818                  91.50
29         Fátima Varela  22.038401                  90.00

In [ ]:
df_filtrado.reset_index(drop=True, inplace=True) #reiniciamos el indice de dataframe resultante

In [ ]:
print(df_filtrado[['nombre', 'IMC', 'promedio_evaluaciones']]) #imprimimos nuevamente las columnas

                  nombre        IMC  promedio_evaluaciones
0          Alana Morillo  23.148148                  87.00
1        Valentina Tasis  21.224490                  89.50
2         Regina Cicerón  22.694019                  87.25
3         María Juderías  23.547881                  88.00
4      Consuela Arboleda  21.785876                  89.75
5   Patricio Encarnación  22.437673                  89.50
6     Cristóbal Miralles  23.781213                  89.25
7       Nicolás Cambeiro  22.204082                  87.25
8          Samuel Gálvez  22.096808                  89.75
9   Christopher Berganza  23.388687                  90.50
10           Alexia Gaos  24.158818                  91.50
11         Fátima Varela  22.038401                  90.00

In [ ]:
df_filtrado['califica'] = 'Si' #modificamos para que la columna califica diga si en todas las columnas del dataframe resultante

C:\Users\Usuario\AppData\Local\Temp\ipykernel_10304\3339417809.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado['califica'] = 'Si'

In [ ]:
print(df_filtrado[['nombre', 'IMC', 'promedio_evaluaciones', 'califica']]) #imprimos resultados

                  nombre        IMC  promedio_evaluaciones califica
0          Alana Morillo  23.148148                  87.00       Si
1        Valentina Tasis  21.224490                  89.50       Si
2         Regina Cicerón  22.694019                  87.25       Si
3         María Juderías  23.547881                  88.00       Si
4      Consuela Arboleda  21.785876                  89.75       Si
5   Patricio Encarnación  22.437673                  89.50       Si
6     Cristóbal Miralles  23.781213                  89.25       Si
7       Nicolás Cambeiro  22.204082                  87.25       Si
8          Samuel Gálvez  22.096808                  89.75       Si
9   Christopher Berganza  23.388687                  90.50       Si
10           Alexia Gaos  24.158818                  91.50       Si
11         Fátima Varela  22.038401                  90.00       Si

In [ ]:
df_filtrado.to_csv('astronautas_calificados.csv', index=False) #exportamos datos a un archivo csv

In [ ]:
print("El DataFrame ha sido exportado a 'astronautas_calificados.csv'.") #imprimimos

El DataFrame ha sido exportado a 'astronautas_calificados.csv'.